.wrapper{
    margin:0px;
    padding:0px;
}
/* TOP NAVBAR */
.headerContainer{
    margin:-10px;
    padding: 0px;
    position: sticky;
    top: 0px;
    z-index: 1000;
    width: 100%;
    height: 80px;
    background-color: transparent;
 }

.topnav {
    position: relative;
    top: 15px;
    padding: 0px;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.8;
   
}

.topnav ul{
    list-style-type: none ;
}

li { 
    display: inline;
}

.topnav a {
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 14px 28px;
}
 
.premium{
    transition: transform 1s;
}

/* ANIMATION */
.premium:hover{
    text-decoration:underline;
} 

.kastLogo{
    position: relative;
    float: left;
    margin-top: 16px;
    margin-left: 25px;
    padding: 0px;
    transition: transform 1s;
}
/* ANIMATION */
.kastLogo:hover {
    transform: scale(1.1);
}

.openKastButton{
    position:relative;
    width: 104px;
    height: 27px;
    margin-left: 20px;
    margin-right: -20px;
    padding-bottom: 26px;
    background-color:transparent;
   
}

.openKastButton button {
    width: 104px;
    height: 27px;
    background-color:transparent;
    border: 1px solid #fff;
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    letter-spacing: 1.5px;
    transition: transform 1s;
    
}

/* ANIMATION */
.openKastButton button:hover {
    transform: scale(1.05);
}

/* SECTION 2 */

.section1Container1{
   
    left: auto;
    min-height: auto;
    margin-top: -85px;
    margin-right: -10px;
    margin-left: -10px;
    padding-top: 140px;
    padding-bottom: 120px;
    border: 0px none transparent;
    border-radius: 0px;
    background-image: url(https://www.kastapp.co/images/gradient-violet-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: purple;
    }

.section1Container2{
    display: flex;
    flex-direction: column;
    align-items: center;
        
}

#laptop {
    max-width: 630px;
}

.container2Title{
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    line-height: 54px;
    font-weight: 700;
    color: #fff;
}

.container2Paragraph{
    max-width: 560px;
    text-align: center;
    
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 1.4;
    color: #fff;

}

.openKastButton2 button{
    width: 215px;
    height: 45px;
    border-radius: 2px;
    border: 0px none transparent; 
    background-color: rgb(255, 145, 0);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 1.4;
    color: #fff;
    transition: transform 1s;
}
/* ANIMATION */
.openKastButton2 button:hover {
    transform: scale(1.05);
}



/* SECTION 2 */
.section2Container {
    position: relative;
    padding-top: 110px;
    padding-bottom: 110px;
    background-color: #fff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #4e4c52;
    font-size: 16px;
    line-height: 1.8;
}

.gridbox {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 60px;
    grid-row-gap: 60px;
    width: 1000px; 
    margin-right: auto;
    margin-bottom: 75px;
    margin-left: auto;
    padding: 60px 30px;
}

#section2Paragraph {
    position: relative;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #4e4c52;
    font-size: 18px;
    top: -75px;
}